*{
    margin: 0;
}
h1 {
    font-family: "Abril Fatface", serif;
    text-align: center;
    color:white;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.500);
    margin: 20px 0;
    font-weight: normal;


}
body {
    background-image: url('blur (1).jpg');
}
 
nav {
    background-color: rgba(0, 0, 0, 0.340);
    text-align: center;

}

nav a{
    color: white;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    line-height: 40px;
    display: inline-block;
    padding: 0 15px;

    
    
    

}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.093);
    
}
.hero{
    background-image: url('fire.jpeg');
    background-size: cover;
}

.hero h2 {
    color: white;
    text-shadow:0 0 7px rgba(255, 255, 255, 0.537);
    font-family: "Abril Fatface", serif;
    font-weight: normal;
    text-align: center;
    padding: 100px 0 50px;

    
}

.hero p {
    background-color: rgba(162, 53, 53, 0.66);
    color: white;
    width: 59%;
    margin-left: 40%;
    padding: 20px;
    /* box sizing makes the text stay in place even if the padding is bigger */
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 1%;
    font-family: "Nunito", sans-serif;
}

.hero a {
    background-color: rgba(104, 97, 97, 0.663);
    color: white;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    /* line height is used to put the text in the middle of the height: ; */
    line-height: 40px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
    margin-left: 20px;
    border-radius: 10px;
    border: 2px dashed rgba(255, 255, 255, 0.206); 
    cursor: pointer;
    

}

.hero a:hover{
    border: 2px dashed white;
}

img {
    border-radius: 10px;
    box-shadow: 0 0 10px;
    vertical-align: middle  ;

}

h3 {
    color: white;
    text-align: center;
    text-shadow: 0 0 10px rgb(112, 105, 105);
    font-family: "Abril Fatface", serif;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info {
    width: 40%;
    display: inline-block;
    /* this is the property so the '.info tag' is in the middle of the img */
    vertical-align: middle;
}

.aboutUs {
    text-align: center;
}
.aboutUs h4 {
    color: white;
    font-family: "Nunito", sans-serif;
    text-shadow: 0 0 10px rgb(94, 90, 90);
    margin-bottom: 10px;
    border-bottom: dashed;
}