*{
    margin: 0;
}
h1 {
    font-family: "Abril Fatface", serif;
    text-align: center;
    color:white;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.500);
    margin: 20px 0;
    font-weight: normal;


}
body {
    background-image: url('blur (1).jpg');
}
 
nav {
    background-color: rgba(0, 0, 0, 0.340);
    text-align: center;

}

nav a{
    color: white;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    line-height: 40px;
    display: inline-block;
    padding: 0 15px;
    
    
    

}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.093);
    
}
.hero{
    background-image: url('fire.jpeg');
    background-size: cover;
    text-align: center;
}

.hero h2 {
    color: white;
    text-shadow:0 0 7px rgba(255, 255, 255, 0.537);
    font-family: "Abril Fatface", serif;
    font-weight: normal;
    text-align: center;
    padding: 100px 0 50px;

    
}

.hero p {
    background-color: rgba(222, 20, 20, 0.469);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    width: 60%;
    margin-left: 38%;
    backdrop-filter: blur(10px);
    text-align: left;
}

.hero a {
    color: white;
    background-color: rgba(214, 39, 39, 0.508);
    border: 2px dashed rgba(74, 16, 16, 0.685);
    text-decoration: none;
    line-height: 40px;
    display: inline-block;
    margin: 50px 0 100px;
    border-radius: 10px;
    padding: 0 15px;
    font-family: "Nunito", sans-serif;
    backdrop-filter: blur(10px);
}

.hero a:hover {
    border: 2px dashed rgba(218, 116, 116, 0.728);
    background-color: rgba(182, 53, 53, 0.767);
}
 
/* add heading about us and add a picture with a candle */